.App.dark {
  --bg-color: #424242;
  --inverted-bg-color: #cecaca;


  --primary-color: #9398bd;
  --secondary-color: #73778f;
  --inverted-primary-color: #222f59;
  --inverted-secondary-color: #44486b;
}