.App.light {
    --bg-color: #cecaca;
    --inverted-bg-color: #424242;
    --primary-color: #3a56b7;
    --secondary-color: #676c96;
    --inverted-primary-color: #9398bd;
    --inverted-secondary-color: #73778f;
}
