.App.light {
  --bg-color: #cecaca;
  --inverted-bg-color: #424242;


  --primary-color: #222f59;
  --secondary-color: #44486b;
  --inverted-primary-color: #9398bd;
  --inverted-secondary-color: #73778f;
}